.main-area {
  text-align: center;
  width: 130%;
  height: 1106px;
  left: 0px;
  background-color: #292c42;
  right: 0px;
  margin-top: 9px;
}

.logBook form label:first-child {
  color: White;
  font-size: Larger;
  font-weight: bold;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  left: 0px;
  top: 130px;
  width: 168px;
  height: 36px;
  padding: 5px;
}

#division {
  font-size: Larger;
  border-style: solid;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: 140px;
  left: 100px;
  width: 100px;
  height: 20px;
  margin-left: 50px;
  border: none;
}

#station label{
    color: White;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    left: 245px;
    top: 130px;
    width: 168px;
    height: 36px;
    padding: 5px;
}

#station {
    color: black;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    left: 545px;
    top: 130px;
    width: 168px;
    height: 30px;
    padding: 5px;
}

