.main-area {
  text-align: center;
  width: 130%;
  height: 1106px;
  left: 0px;
  background-color: #292C42;
  right: 0px;
  margin-top: 9px;
}

.dropdown-area {
  margin-top:20px;
  

}

.dropdown-area label {
    color: White;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    left: 4px;
    top: 130px;
    width: 168px;
    height: 32px;
    padding: 5px;
    
}

.dropdown-area select{
  font-size: Larger;
    border-style: solid;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 130px;
    left: 147px;
    width: 342px;
    height: 32px;
    margin-left: 50px;
    

}

.instant-station label{
  margin-left: 700px;

}

.instant-station select{
  margin-left: 750px;

}

/* .last-update {
  background-color: #666699;
  position: absolute;
  top: 130px;
  left: 1302px;
  width: 640px;
  height: 36px;

} */


.last-update span:first-child{
    margin-left: 1100px;
    color: White;
    background-color: #666699;
    font-family: Arial;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 135px;
    left: 286px;
    width: 293px;
    height: 30px;
    text-align: center;
    right: 9px;
    overflow: visible;
}

.last-update span:last-child{
  margin-left: 1100px;
  color: White;
  background-color: #666699;
  font-family: Arial;
  font-size: Larger;
  font-weight: bold;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: 135px;
  left: 496px;
  width: 293px;
  height: 30px;
  text-align: center;
  right: 9px;
  overflow: visible;
}

.instant-area {
  background-image: url(/src/images/image2.png);
  background-repeat: no-repeat;
  border-width: 0px;
  position: absolute;
  top: 290px;
  left: 400px;
  width: 1600px;
  height: 660px;
}

.electrical-data{
  margin-left: -23%;
}

.electrical-data caption{
    color: Black;
    background-color: White;
    font-size: Larger;
    font-weight: bold;
    text-decoration: underline;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: -30px;
    left: -23%;
    width: 370px;
    height: 29px;
    text-align: center
}

#electrical {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 19%;
  background-color: #666699;

}

#electrical td:last-child{
    padding: 8px;
    color: White;
    background-color: #DD0000;
    font-size: Larger;
    font-weight: bold;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    top: 40px;
    left: 240px;
    width: 115px;
    height: 26px;
    text-align: center
}



#electrical th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.Tubewell-status{
  margin-left:100px;
  margin-top:-29%;
}

.Tubewell-status caption{
  color: Black;
  background-color: White;
  font-size: Larger;
  font-weight: bold;
  text-decoration: underline;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: -33px;
  left: 100px;
  width: 285px;
  height: 29px;
  text-align: center
}


.TW {
  margin-left:-370px;
  margin-top:23%;
}

.TW caption{
  color: Black;
  background-color: White;
  font-size: Larger;
  font-weight: bold;
  text-decoration: underline;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: 77%;
  left: -370px;
  width: 375px;
  height: 29px;
  text-align: center
}

.Schedule{
  margin-left:60%;
  margin-top:-50%;
}

#Schedule{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  background-color: #666699;
}

#Schedule td:nth-child(even){
  padding: 8px;
  color: White;
  background-color: #DD0000;
  font-size: Larger;
  font-weight: bold;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  top: 40px;
  left: 240px;
  width: 115px;
  height: 26px;
  text-align: center
}

.Schedule caption{
  color: Black;
  background-color: White;
  font-size: Larger;
  font-weight: bold;
  text-decoration: underline;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: -13%;
  left: 60%;;
  width: 575px;
  height: 29px;
  text-align: center
}

.Process{
  margin-left:27%;
  margin-top: 19%;
}

#Process{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  background-color: #666699;
}

#Process td:nth-child(even){
  padding: 8px;
  color: White;
  background-color: #DD0000;
  font-size: Larger;
  font-weight: bold;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  top: 40px;
  left: 240px;
  width: 100px;
  height: 26px;
  text-align: center
}

.Process caption{
  color: Black;
  background-color: White;
  font-size: Larger;
  font-weight: bold;
  text-decoration: underline;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: 52%;
  left: 27%;;
  width: 1050px;
  height: 29px;
  text-align: center
}

#Event {
  margin-left:27%;
  margin-top: 2%
}

#Event td:first-child{
    color: Black;
    background-color: White;
    font-size: XX-Large;
    font-weight: bold;
    text-decoration: underline;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: relative;
    top: 5px;
    left: 5px;
    width: 371px;
    height: 56px;
    text-align: center;
}

#Event td:last-child{
    color: Red;
    background-color:black;
    font-size: XX-Large;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: relative;
    top: 6px;
    left: 5px;
    width: 600px;
    height: 60px;
    text-align: left;
}

.instant-data-point1{
    color: White;
    background-color: Black;
    font-size: Larger;
    font-weight: normal;
    border-style: none;
    border-color: inherit;
    border-width: inherit;
    position: absolute;
    top: 175px;
    left: 300px;
    width: 120px;
    height: 30px
}

.instant-data-point2 {
  color: White;
  background-color: Black;
  font-size: Larger;
  font-weight: normal;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: 275px;
  left: 50px;
  width: 120px;
  height: 30px
}

.instant-data-point3 {
  color: Black;
  background-color: White;
  font-size: Larger;
  font-weight: bold;
  border-style: none;
  border-color: inherit;
  border-width: inherit;
  position: absolute;
  top: -25px;
  left: 750px;
  width: 115px;
  height: 28px;
  bottom: 233px
}



.instant-btn-group button {
  background-color: green; 
  border: solid 1px grey; 
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white; 
  padding: 10px 24px; 
  cursor: pointer;
  float: left; 
  margin-left:20px;
  margin-top: 50%;
  width:15%;
}

/* Clear floats (clearfix hack) */
.instant-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.instant-btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.instant-btn-group button:hover {
  background-color: white;
  color: green;
}