.header {
    background-image: url(/src/images/HP1.png);
    background-repeat: repeat-y;
    background-size: cover;
    position:relative;
    top: 10px;
    left: 12px;
    width: 129%;
    height: 100px;
}

