.header {
  background-image: url(/src/images/HP2.jpg);
  /* background-repeat: repeat-y;
    background-size: 100%;
    position:relative;
    top: 0px;
    left: 0px;
    width: 120%;
    height: 150px;
    transform:scaleY(0.9); */

  width: 125%;
  height: 120px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-fit: cover;
}
