.Home-header {
  background-image: url(/src/images/HP2.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  position: relative;
  top: 0px;
  left: -90px;
  width: 112%;
  height: 150px;
  transform: scale(0.9);

}


/* .Home-main-area {
  text-align: center;
  width: 130%;
  height: 1106px;
  left: 0px;
  background-color: #292C42;
  right: 0px;
  margin-top: 90px;
} */


.Home-home-btn-group button {
  background-color: green;
  border: solid 1px grey;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  margin-top: 700px;
  width: 15%;
}


.Home-home-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.Home-home-btn-group button:not(:last-child) {
  border-right: none;
 
}


.Home-home-btn-group button:hover {
  background-color: white;
  color: green;
}