
.btn-group button {
    background-color: green; 
    border: solid 1px grey; 
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white; 
    padding: 10px 24px; 
    cursor: pointer;
    float: left; 
    margin-left:20px;
    width:15%;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: white;
    color: green;
  }